<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Website Layout | Galeria el Granito</title>
<link rel="stylesheet" href="style3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<link rel="shortcut icon" href="fotos/icon.png" type="image/x-icon">
</head>
<body>
    <!-- Barra de navegación y menú desplegable -->
    <div class="main_box">
        <header>
        
        </header>

        <!-- Botón de menú -->
        <input type="checkbox" id="check">
        <div class="btn_one">
            <label for="check">
                <i class="fas fa-bars"></i>
            </label>
        </div>
        
        <!-- Menú lateral -->
        <div class="sidebar_menu">
            <div class="logo">
                <a href="#"></a>
            </div>
            <div class="btn_two">
                <label for="check">
                    <i class="fas fa-times"></i>
                </label>
            </div>
            <div class="menu">
                <ul>
                    <li><i ></i><a href="vista.html">Principal</a></li>
                    <li><i></i><a href="Galeria.html">Galeria</a></li>
                    <li><i></i><a href="Contacto.html">Contactos</a></li>
                    <li><i></i><a href="Proyectos.html">Proyectos</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Botones de redes sociales -->
    <div class="social_media_btn">
        <input type="checkbox" id="social_check">
        <label for="social_check"><i class="fas fa-share-alt"></i></label>
        <div class="social_media_icons">
            <a href="https://www.facebook.com/search/top/?q=galeria%20del%20granito"><i class="fab fa-facebook-f"></i></a>
            <a href="https://wa.link/awjupt"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/galeria_del_granito?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram"></i></a>
            <a href="mailto:galeriadelgranito@gmail.com"><i class="fa fa-envelope"></i></a>
        </div>
    </div>
    
    <section class="main_section2">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Columna izquierda: Información de contacto -->
                <div class="col-md-6">
                    <div class="contact-card">
                        <h2>Información de Contacto <i class="fa fa-user"></i></h2>
                        <div class="contact-info">
                            <h3>Teléfono: (506)2495-0606</h3>
                            <h3>Sala de ventas:</h3>
                            <p>500 metros Oeste del Banco Nacional (Fábrica) <br> sobre la radial a Grecia, Alajuela, Costa Rica.</p>
                            <h3>Correos electrónicos:</h3>
                            <ul>
                                <li><i class="fa fa-envelope"></i> galeriadelgranito@gmail.com</li>
                                <li><i class="fa fa-envelope"></i> efchacon@galeriadelgranito.com</li>
                            </ul>
                            <p>Elaboramos presupuestos totalmente gratis y nos trasladamos a todo el país.</p>
                            <div class="logo">
                                <a href="vista.html"><img src="fotos/logoGG.png" alt="Logo"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Columna derecha: Mapa -->
                <div class="col-md-6">
                    <div class="map-card">
                        <h2>Ubicación <i class="fa fa-map-pin" aria-hidden="true"></i></h2>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1631.7496743857007!2d-84.3340517616777!3d10.060051897512121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa059bdf0c37ea1%3A0x87fdd27f314be2b8!2sGaler%C3%ADa%20Del%20Granito!5e1!3m2!1ses-419!2scr!4v1717459364741!5m2!1ses-419!2scr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="social-buttons">
                        <a href="https://www.instagram.com/galeria_del_granito?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="social-btn insta-btn">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/search/top/?q=galeria%20del%20granito" target="_blank" class="social-btn fb-btn">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="mailto:galeriadelgranito@gmail.com" target="_blank" class="social-btn gmail-btn">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <a href="https://wa.link/awjupt" target="_blank" class="social-btn whatsapp-btn">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    <!-- Pie de página -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Acerca de Nosotros</h3>
                    <p>¡Bienvenido a nuestra página web! Somos una empresa dedicada a la exportacion, <br>
                    manipulacion y venta de Granito <br> 
                    Galería del Granito en Costa Rica se especializa en la venta y transformación de granito y cuarzos para diversos usos.<br>
                    Ofrecemos productos como encimeras para cocinas y baños, revestimientos, pisos, y otros elementos decorativos.<br>
                    La empresa combina técnicas industriales modernas con materiales de alta calidad para ofrecer soluciones estructurales y ornamentales.<br>
                    Además, brindan servicios de instalación y asesoramiento personalizado para sus clientes.</p>
                </div>
                <div class="col-md-3">
                    <h3>Enlaces Útiles</h3>
                    <ul>
                        <div class="social-buttons">
                            <a href="https://www.instagram.com/galeria_del_granito?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="social-btn insta-btn">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.facebook.com/search/top/?q=galeria%20del%20granito" target="_blank" class="social-btn fb-btn">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="mailto:galeriadelgranito@gmail.com" target="_blank" class="social-btn gmail-btn">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a href="https://wa.link/awjupt" target="_blank" class="social-btn whatsapp-btn">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </div>
                    </ul>
                </div>  
                <div class="col-md-3">
                    <h3>Contacto</h3>
                    <p>Dirección: 500 metros Oeste del Banco Nacional (Fábrica)
                        sobre la radial a Grecia, Alajuela, Costa Rica.</p>
                    <p>Teléfono: (506) 2495-0606</p>
                    <h3>Correos</h3>
                    <p>galdegranitofacturas@gmail.com<br>
                    efchacon@galeriadelgranito.com <br>
                        </p>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="app.js"></script>
</body>
</html>
