<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Galería del Granito</title>
<link rel="stylesheet" href="style4.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<link rel="shortcut icon" href="fotos/icon.png" type="image/x-icon">
</head>
<body>
    <!-- Barra de navegación y menú desplegable -->
    <div class="main_box">
        <header>
            <div class="logo">
                <a href="vista.html"><img src="fotos/logoGG.png" alt="Logo"></a>
            </div>
        </header>

        <!-- Botón de menú -->
        <input type="checkbox" id="check">
        <div class="btn_one">
            <label for="check">
                <i class="fas fa-bars"></i>
            </label>
        </div>
        
        <!-- Menú lateral -->
        <div class="sidebar_menu">
            <div class="logo">
                <a href="#"></a>
            </div>
            <div class="btn_two">
                <label for="check">
                    <i class="fas fa-times"></i>
                </label>
            </div>
            <div class="menu">
                <ul>
                    <li><i ></i><a href="vista.html">Principal</a></li>
                    <li><i></i><a href="Galeria.html">Galería</a></li>
                    <li><i></i><a href="Contacto.html">Contactos</a></li>
                    <li><i></i><a href="Proyectos.html">Proyectos</a></li>
                </ul>
            </div>
        </div>
    </div>

       <!-- Botones de redes sociales -->
       <div class="social_media_btn">
        <input type="checkbox" id="social_check">
        <label for="social_check"><i class="fas fa-share-alt"></i></label>
        <div class="social_media_icons">
            <a href="https://www.facebook.com/search/top/?q=galeria%20del%20granito"><i class="fab fa-facebook-f"></i></a>
            <a href="https://wa.link/awjupt"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/galeria_del_granito?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram"></i></a>
            <a href="mailto:galeriadelgranito@gmail.com"><i class="fa fa-envelope"></i></a>
        </div>
    </div>
    
    <!-- Contenedor para centrar el h1 y el párrafo -->
    <div class="hero">
        <h1>Bienvenido a Galería el Granito</h1>
        <p>Especialistas en superficies de granito para cocinas, baños y muebles</p>
    </div>

    <section class="projects">
        <h2>Proyectos</h2>
        <div class="gallery-grid">
            <div class="gallery-container">
                <h3>Baños</h3>
                <img src="Proyectos/Banio1.jpeg" alt="Granito 1">
                <img src="Proyectos/banio2.jpg" alt="Granito 2">
                <img src="Proyectos/banio3.jpg" alt="Granito 3">
            </div>
            <div class="gallery-container">
                <h3>Cocina</h3>
                <img src="Proyectos/cocina1.jpeg" alt="Granito 4">
                <img src="Proyectos/cocina2.jpeg" alt="Granito 5">
                <img src="Proyectos/cocina3.jpeg" alt="Granito 6">
            </div>
            <div class="gallery-container">
                <h3>Muebles</h3>
                <img src="Proyectos/Muebles1.jpeg" alt="Granito 7">
                <img src="Proyectos/Muebles2.jpeg" alt="Granito 8">
                <img src="Proyectos/Muebles3.jpeg" alt="Granito 9">
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Acerca de Nosotros</h3>
                    <p>¡Bienvenido a nuestra página web! Somos una empresa dedicada a la exportacion, <br>
                    manipulacion y venta de Granito <br> 
                    Galería del Granito en Costa Rica se especializa en la venta y transformación de granito y cuarzos para diversos usos.<br>
                    Ofrecemos productos como encimeras para cocinas y baños, revestimientos, pisos, y otros elementos decorativos.<br>
                    La empresa combina técnicas industriales modernas con materiales de alta calidad para ofrecer soluciones estructurales y ornamentales.<br>
                    Además, brindan servicios de instalación y asesoramiento personalizado para sus clientes.</p>
                </div>
                <div class="col-md-3">
                    <h3>Enlaces Útiles</h3>
                    <ul>
                        <div class="social-buttons">
                            <a href="https://www.instagram.com/galeria_del_granito?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="social-btn insta-btn">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.facebook.com/search/top/?q=galeria%20del%20granito" target="_blank" class="social-btn fb-btn">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="mailto:galeriadelgranito@gmail.com" target="_blank" class="social-btn gmail-btn">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a href="https://wa.link/awjupt" target="_blank" class="social-btn whatsapp-btn">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </div>
                    </ul>
                </div>  
                <div class="col-md-3">
                    <h3>Contacto</h3>
                    <p>Dirección: 500 metros Oeste del Banco Nacional (Fábrica)
                        sobre la radial a Grecia, Alajuela, Costa Rica.</p>
                    <p>Teléfono: (506) 2495-0606</p>
                    <h3>Correos</h3>
                    <p>galeriadelgranito@gmail.com<br>
                    efchacon@galeriadelgranito.com <br>
                        </p>
                </div>
            </div>
        </div>
    </footer>
    

    <script src="app.js"></script>
</body>
</html>
