<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Website Layout | Galeria el Granito</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<link rel="shortcut icon" href="fotos/icon.png" type="image/x-icon">

</head>
<body>
    <div class="main_box">
           <header>
        <div class="logo">
            <a href="vista.html"><img src="fotos/logoGG.png" alt="Logo"></a>
        </div>
    </header>

        <input type="checkbox" id="check">
        <div class="btn_one">
            <label for="check">
                <i class="fas fa-bars"></i>
            </label>
        </div>
        
        <div class="sidebar_menu">
            <div class="logo">
                <a href="#"></a>
            </div>
            <div class="btn_two">
                <label for="check">
                    <i class="fas fa-times"></i>
                </label>
            </div>
            <div class="menu">
                <ul>        
                    <li><i ></i><a href="vista.html">Principal</a></li>
                    <li><i></i><a href="Galeria.html">Galeria</a></li>
                    <li><i></i><a href="Contacto.html">Contactos</a></li>
                    <li><i></i><a href="Proyectos.html">Proyectos</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="social_media_btn">
        <input type="checkbox" id="social_check">
        <label for="social_check"><i class="fas fa-share-alt"></i></label>
        <div class="social_media_icons">
            <a href="https://www.facebook.com/search/top/?q=galeria%20del%20granito"><i class="fab fa-facebook-f"></i></a>
            <a href="https://wa.link/awjupt"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/galeria_del_granito?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram"></i></a>
            <a href="mailto:galeriadelgranito@gmail.com"><i class="fa fa-envelope"></i></a>
        </div>
    </div>
    

   <!-- Sección Principal -->
<section class="main_section">
    <div class="section_content">
        <h2>Galería del Granito</h2>
        <p>Somos una galería de arte especializada en la exhibición y venta de obras de arte realizadas en granito. Nuestra misión es promover la belleza y la singularidad de esta fascinante roca. 
            Envueltos en este extraordinario mundo de natural, nuestra mayor pasión es la piedra, el elemento natural que siempre ha acompañado al ser humano en sus diferentes moradas.
            
            La piedra es un mineral que aparece con vida propia al ser tratado con las modernas tecnologías, que le dotan de colores, acabados, texturas, productos y aplicaciones tan diversas como pueda pedir el más exigente de los arquitectos, diseñadores ó interioristas.
            
            En Galería del Granito combinamos el respeto y admiración por estos productos naturales que tratamos con la profesionalidad que exige el mundo comercial de hoy. Siendo estos materiales muy nobles y duraderos, pero que también pueden intervenir en cualquier tipo de construcción.
            
            Somos importadores directos para Costa Rica de los principales productores de granito del mundo, desde América, Europa y Asia,Brasil, también importamos Mármol y Ónix de alta calidad.
            
            Contamos con un grupo dinámico y riguroso de colaboradores e instaladores.</p>
        <h2>Productos que ofrecemos</h2>

        <div class="granite_types">
            <div class="granite_type">
                <img src="Granitos cuarzos y mas/Ornamental LIGTH.jpeg" alt="Granito 1">
                <h3>Ornamental Light</h3>
                <p>Ornamental Light<br> Un granito de fondo claro con sutiles vetas doradas y grises,<br>ideal para iluminar cualquier espacio con su apariencia suave y elegante.<br></p>
            </div>
            <div class="granite_type">
                <img src="Granitos cuarzos y mas/verdeubataba.jpg" alt="Granito 2">
                <h3>Verde Ubatuba</h3>
                <p>Verde Ubatuba<br>De base verde profunda con motas doradas y negras,<br>este granito aporta un toque exótico y elegante.<br></p>
            </div>
            <div class="granite_type">
                <img src="Granitos cuarzos y mas/valhalla-granite.jpg" alt="Granito 3">
                <h3>Valhalla</h3>
                <p>Valhalla<br>Presenta una combinación de colores intensos y patrones intrincados,<br>inspirados en las tierras míticas de Valhalla.<br></p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Acerca de Nosotros</h3>
                <p>¡Bienvenido a nuestra página web! Somos una empresa dedicada a la exportacion, <br>
                manipulacion y venta de Granito <br> 
                Galería del Granito en Costa Rica se especializa en la venta y transformación de granito y cuarzos para diversos usos.<br>
                Ofrecemos productos como encimeras para cocinas y baños, revestimientos, pisos, y otros elementos decorativos.<br>
                La empresa combina técnicas industriales modernas con materiales de alta calidad para ofrecer soluciones estructurales y ornamentales.<br>
                Además, brindan servicios de instalación y asesoramiento personalizado para sus clientes.</p>
            </div>
            <div class="col-md-3">
                <h3>Enlaces Útiles</h3>
                <ul>
                    <div class="social-buttons">
                        <a href="https://www.instagram.com/galeria_del_granito?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="social-btn insta-btn">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/search/top/?q=galeria%20del%20granito" target="_blank" class="social-btn fb-btn">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="mailto:galeriadelgranito@gmail.com" target="_blank" class="social-btn gmail-btn">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <a href="https://wa.link/awjupt" target="_blank" class="social-btn whatsapp-btn">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                </ul>
            </div>  
            <div class="col-md-3">
                <h3>Contacto</h3>
                <p>Dirección: 500 metros Oeste del Banco Nacional (Fábrica)
                    sobre la radial a Grecia, Alajuela, Costa Rica.</p>
                <p>Teléfono: (506) 2495-0606</p>
                <h3>Correos</h3>
                <p>galeriadelgranito@gmail.com<br>
                efchacon@galeriadelgranito.com <br>
                    </p>
            </div>
        </div>
    </div>
</footer>


    <script src="app.js"></script>
</body>
</html>
